<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.enconiya.app">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.Ad_ID" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.startapp.sdk.APPLICATION_ID"
        android:value="200617325" />
    <meta-data
        android:name="com.startapp.sdk.RETURN_ADS_ENABLED"
        android:value="false" />

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Enconiya">
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/NoSplash"/>
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/NoSplash" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/NoSplash" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/NoSplash" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/NoSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>